
**/build/
**/*.p4i

**/log/
**/pcap/
**/*.pcap
**/*.pcapng
**/*.log

__pycache__/
*.pyc


.claude
CLAUDE.md
drill_4_4/raw_telemetry/
drill_4_4/topology.json
drill_4_4/project_report.md
project_report.md